/**

    Animations

**/

@keyframes swing-in {
    0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-out {
    0% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
        max-height: 0;
    }
}

.js .todo-item {
    padding: 0 0 0 2.5rem;
    opacity: 0;
    animation: swing-in 0.5s ease-in 0.1s 1 forwards;
    border: thin grey solid;
}

.js .todo-item:hover {
    background-image: radial-gradient(circle at var(--item-offset-x, 50%) var(--item-offset-y, 50%), rgba(74, 76, 78, 1) 5%, rgba(17,24,31,0) 100%);
}

.js .delete-item {
    animation: swing-out 0.5s ease-out 0.1s 1 forwards;
}